* {
    box-sizing: border-box;
  }
     
  body {
    margin: 0;
    font-family: Helvetica;
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

nav {
  display: flex;
  height: auto;
  flex-direction: column;
}

nav.left {
  align-items: center;
  grid-column: 1/2;
}

  nav.left > div.headshot {
    font-size: 50px;
    padding: 25px 0 6px 0;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  nav.left > div.hitmeup {
    font-size: 50px;
    padding: 10px 0 0 0;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: rgb(93 207 131);
  }

nav.right {
  align-items: left;
  grid-column: 2/2;
  background-color: rgb(241 241 241);
}

nav.right > div.name {
  font-size: 35px;
  font-weight: bold;
  color: rgb(34 33 39);
  padding: 15px 0 5px 20px;
  grid-row-start: 1;
  grid-row-end: 2;
}
nav.right > div.stars {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 0 2px 20px;
}
nav.right > div.psy {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0 0 15px 20px;
  font-size: 20px;
  font-style: italic;
  color: rgb(34 33 39);
}
nav.right > div.profdesc {
  grid-row-start: 3;
  grid-row-end: 4;
  color: rgb(164 164 166);
  font-style: italic;
  padding: 10px 20px 10px 15px;
  border-width: 0 0 0 3px; 
  border-style: solid;
  border-color: rgb(82 184 117);
  margin: 0 0 0 25px;
}
nav.right > div.pricing {
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 10px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(34 33 39);
}
nav.right > div.pricemin {
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 0 0 0 20px;
  color: rgb(34 33 39);
  font-style: italic;
}